{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-md-6">
<div class="jumbotron">
  <h1 class="display-4">Easy Attendance</h1>
  <p class="lead">Take easily attendance of your class with good accuracy and absolutely no chance of proxy. Move on from traditional pen paper attendance method.
 </p>
  <hr class="my-4">
  <p>Just enter details of class and click and upload the picture of classroom.</p>
  <a class="btn btn-success btn-lg" href="{% url 'teachers:attendance'  %}" role="button">Take attendance</a>
</div>
</div>

<div class="col-md-6">
<div class="jumbotron">
  <h1 class="display-4">Attendance Record</h1>
  <p class="lead">All the attendance are managed and stored in database. Download the Attedance in a clear csv format and also check the class image of that day.</p>
  <hr class="my-4">
  <p>Enter the details of class to download the attendance record.</p>
  <a class="btn btn-warning btn-lg" href="{% url 'teachers:download_csv'  %}" role="button">Download Attendance</a>
</div>
</div>
</div>

<div class="row">

    <div class="col-md-6">
    <div class="jumbotron">
    <h1 class="display-4">Check students performance</h1>
    <p class="lead">Manager does all the hardwork of teachers like all necessary caclulations
     on records. See easily attendance of your 
     students and their overall profile with absolutely no chance of miscalculations
    </p>
    <hr class="my-4">

    <a class="btn btn-info btn-lg" href="{% url 'teachers:students_list'  %}" role="button">Go to Students List</a>
    </div>
    </div>

    <div class="col-md-6">
    <div class="jumbotron">
    <h1 class="display-4">Attedance Record</h1>
    <p class="lead">See all the attendance in one place. Also get full information about a particular attendance .
    </p>
    <hr class="my-4">

    <a class="btn btn-dark btn-lg" href="{% url 'teachers:all_attendance_info'  %}" role="button">Go to Records</a>
    </div>
    </div>

</div>


{% endblock  %}